<div id="adminDashboard" class="content-section" style="display: none;"></div>
<div id="manageAdmins" class="content-section" style="display: none;"></div>
<div id="manageSupervisors" class="content-section" style="display: none;"></div>
<div id="manageStudents" class="content-section" style="display: none;"></div>
<div id="manageProjects" class="content-section" style="display: none;"></div>
<div id="manageSemesters" class="content-section" style="display: none;"></div>
<div id="viewNotices" class="content-section" style="display: none;"></div>
<div id="profile" class="content-section" style="display: none;"></div>
<div id="supervisorDashboard" class="content-section" style="display: none;"></div>
<div id="supervisorProjects" class="content-section" style="display: none;"></div>
<div id="supervisorStudents" class="content-section" style="display: none;"></div>
<div id="supervisorSubmissions" class="content-section" style="display: none;"></div>
<div id="studentDashboard" class="content-section" style="display: none;"></div>
<div id="studentProject" class="content-section" style="display: none;"></div>
<div id="studentSubmissions" class="content-section" style="display: none;"></div>
